<%= all_line_fields %>
  %td
    <% if destroy_action %>
    = link_to "Delete <i class='fa fa-1x fa-remove'></i>".html_safe, <%= path_helper_singular %>(<%= singular %>), remote: true ,method: :delete,  disable_with: "Loading...", class: "delete-<%= singular %>-button btn btn-primary "
    <% end %>
    &nbsp;
    = link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_<%= path_helper_singular %>(<%= singular %>), remote: true , disable_with: "Loading...", class: "edit-<%= singular %>-button btn btn-primary "
